<?xml version="1.0" encoding="UTF-8"?>
<config>
  <businessLogic local="false"> 
	<businessLogicNode>127.0.0.1</businessLogicNode>
	<businessLogicPort>9999</businessLogicPort>
	<businessLogicName>Rides</businessLogicName>
  </businessLogic>
  <database local="false" initialize="false">
	<databaseNode>127.0.0.1</databaseNode>
	<dbFilename>polideportivo.temp</dbFilename>
	<databasePort>6137</databasePort>
	<user>admin</user>
	<password>admin</password>
  </database>
  <locale>en</locale>
</config>
